<!--
File Name: about.ejs
Student Name: Roshna Raju
Student Id: 301174285
Date: 03/06/2021
-->

<div class="container">
   <img src="/Assets/images/mridularamakrishnan.jpg" alt=" " width="180" height="200"/>
   <h1 style="color:#000000"> Mridula Ramakrishnan </h1>
   <p style="color:#000000"> I am Mridula Ramakrishnan. </p>
   <p><a href="/Assets/RESUME - ROSHNA.pdf" download> Click here to download my resume</a></p>
</div>