<!--
File Name: about.ejs
Student Name: Roshna Raju
Student Id: 301174285
Date: 03/06/2021
-->
<body style="background-image: url('/Assets/images/background.jpg'); opacity: 0.75;" height="200%" width="100%">
<div class="container">
   <img src="/Assets/images/mridularamakrishnan.jpg" alt=" " width="180" height="200"/>
   <h1 style="color:#900C3F" font-style: bold italic"> Mridula Ramakrishnan </h1>
   <p style="color:#C70039">
I am presently enrolled in Centennial College's Software Engineering Technology programme.<br>
Despite my inexperience, I am a computer geek who is fascinated by many programming languages.</p>
   <p><a href="/Assets/MridulaResume.pdf" download> Click here to download my resume</a></p>
</div>