
    <body style="background-color:#DAF7A6">
   <h1> Contact Details </h1>
   <p> <i class="fas fa-female"></i> Name : Mridula Ramakrishnan</p>
   <p> <i class="fas fa-map-marker-alt"></i> Location : Scarborough, Toronto, Ontario </p>
   <p> <i class="fas fa-phone"></i> Phone : +1-647-867-1430</p>
   <p> <i class="fas fa-envelope"></i> Email : mridularnair.jobs@gmail.com</p>
   <form>
      

      <div class="container">
         <div class="row">
            <div class="column">
               <label for="inputName1" class="form-label">First Name</label>
            </div>
            <div class="column">
               <input type="text" class="form-control" id="inputName1" aria-describedby="inputName1">
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="column">
               <label for="inputName2" class="form-label">Last Name</label>
            </div>
            <div class="column">
               <input type="text" class="form-control" id="inputName2" aria-describedby="inputName2">
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="column">
               <label for="contactNumber" class="form-label">Contact Number</label>
            </div>
            <div class="column">
               <input type="text" class="form-control" id="contactNumber" aria-describedby="contactNumber">
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="column">
               <label for="inputEmail" class="form-label">Email Address</label>
            </div>
            <div class="column">
               <input type="email" class="form-control" id="inputEmail" aria-describedby="inputEmail">
            </div>
         </div>
      </div>
      <div class="container">
         <div class="row">
            <div class="column">
               <label for="inputMessage" class="form-label">Message</label>
            </div>
            <div class="column">
               <textarea type="text" class="form-control" id="inputMessage" rows="2"></textarea>
            </div>
         </div>
      </div>
   </form>
   <br>
   <br>
   <br>
   <!--<form method="get" action="/home">-->
   <li class="button">
      <button type="submit" method="get" action="/home">Submit</button>
   </form>
</div>