

<body style="background-image: url('/Assets/images/background.jpg'); opacity: 0.75;" width="400%">
    <div class="container">
        <p style="color:#DE3163 ; font-style: bold italic" class="display-4"> Hello All!! Welcome to my portfolio.</p>
        <p style="color:#DE3163 ; font-style: bold italic"> Budding Tech enthusias eager to fix problems</p>
        <a class="nav-link " href="/about"><i class="fas fa-info"></i> About Me</a>
        <a class="nav-link " href="/projects"><i class="fas fa-cog"></i> Projects</a>
        <a class="nav-link " href="/services"><i class="fab fa-servicestack"></i> Services Offered</a>
        <a class="nav-link " href="/contact"><i class="fas fa-mobile-alt"></i> Contact Me</a>
    </div>