<!--
File Name: projects.ejs
Student Name: Roshna Raju
Student Id: 301174285
Date: 03/06/2021
-->
<body style="background-image: url('/Assets/images/projectsbg.jpg'); opacity: 0.75;" height="200%" width="100%">
<div class="row">
   <div class="col-sm-6">
      <div style="background-color:#FFFFFF" class="card">
         <div class="card-body">
            <img src="/Assets/images/androidjava.jpeg" alt=" " width="200" height="150"/>
            <p style="color:#8E44AD "> Android software development is the process of creating applications for devices using the Android operating system.<br>
             Google claims that "Android apps may be created using Kotlin, Java, and C++ languages".<br>
             with the Android software development kit (SDK), while additional languages are also supported.<br>
             Recently, I was successful in developing a simple online pizza delivery application on Android JAVA.
            </p>
            <br>
         </div>
      </div>
   </div>
   <div class="col-sm-6">
      <div style="background-color:#FFFFFF" class="card">
         <div class="card-body">
            <img src="/Assets/images/mysql.jpg" alt=" " width="200" height="150"/>
            <p style="color:#8E44AD "> MySQL is a relational database management system that is free and open source.<br>
             A relational database organises data into one or more data tables where data types can be associated to one another; <br>
             these relationships assist structure the data. SQL is a programming language that allows programmers to create, change,and retrieve data <br> 
              as well as control user access to the databases. <br>
            I was able to create an online learning portal application using MySQL.</p>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-sm-6">
      <div style="background-color:#FFFFFF" class="card">
         <div class="card-body">
            <img src="/Assets/images/insurance.jpg" alt=" " width="200" height="200"/>
            <p style="color:#000000"> Insurance Calculator helps to calculate and understand the insurance schemes,
               interest rates and the premium in the most easiest way. I was part of end-to-end design and development
               of this application.</p>
         </div>
      </div>
   </div>