

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Java Programming</h5>
        <img src="/Assets/images/javaprogramming.jpg" alt=" " width="200" height="200"/>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">C/C++ Programming</h5>
        <img src="/Assets/images/ccplusplusprogramming.jpg" alt=" " width="200" height="200"/>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <img src="/Assets/images/database.png" alt=" " width="200" height="200"></img>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Mobile App Development</h5>
        <img src="/Assets/images/android.png" alt=" " width="200" height="200"></img>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">C# Programming</h5>
        <img src="/Assets/images/csharp.png" alt=" " width="200" height="200"></img>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<div>
</div>